/*
Palette:
#e5bf80 Tan
#f8ce58 Gold Star
#e29b27 Saffron Yellow
#cf650f Burnt Orange
#9a3016 Red Earth
#3d0e08 Walnut

*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* Background pattern from Free HD Wallpapers 
	link http://freehdw.com/wallpaper/vintage-pattern-desktop-free-139143.html */
	background: #ffffff url("http://data.freehdw.com/vintage-pattern-desktop-free.jpg"); 
	/*background-size: 150%;*/
	background-repeat: no-repeat 0 0;
    font-family: 'Nothing You Could Do', cursive;
	font-size: 25px;
	font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Life Savers', cursive;
	font-size: 42px;
	background: #9a3016; 
	color: #e5bf80;
	padding: 5px 57px;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #3d0e08 0%, #9a3016 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #ffffff url("file:///C:/Users/Student/Desktop/memory-game/images/coffee-stain-1.svg");
	background-size: 125px 125px;
	background-repeat: no-repeat;
    background-position: right top;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #e5bf80;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
	background: #e29b27 url("https://www.stockvault.net/data/2012/07/31/133242/preview16.jpg"); /* free image from Stockvault.net */
    background-size: 170%;
	font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 660px;
    margin-bottom: 10px;
	background: #e29b27 url("https://cdn.pixabay.com/photo/2017/10/13/15/29/background-2847957_960_720.jpg"); /*Image source Pixabay.com*/
	background-size: 100%;
	background-repeat: no-repeat 0 0;
    background-position: center;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
	font-size: 60px;
	color: #f8ce58;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Remove bullet point */
.restart {
	list-style: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
